{% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>i0u19a</h1>
        <p>This webpage collects the material that is used for course i019a. You will find information about exercises and assigments.</p>
        <p>For information about exercises and assignments, click the respective links below</p>
        <p>The datases that are used throughout the course <a href="/datasets/datasets">are introduced here</a>.</p>
      </div>
    </div>

  <div class="container-fluid">

{% for post in site.posts%}


        <div class="col-md-4" {{op}}>
          <p>{{ post.date | date: "%-d %B %Y" }}</p>
          <h2>{{ index}}. {{ post.title }}</h2>
            <p></p>
              <p><a class="btn btn-primary" role="button" href="{{ post.url }}">More &raquo;</a></p>

       </div>

{% endfor %}


</div> <!-- container end -->

{% include footer.html %}