/* css styles */
.quarto-title-banner {
  /* Set a specific height */
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DataIntuitive'; 
    /* test fading in the photo - doesn't work opacity changed to 1 */
  opacity: 1;
  transition: opacity 5s;
    color: #ffffff;

  }

  .quarto-title-banner.fade-in {
    opacity: 1;
  }

.quarto-title-banner h1 {
  color: #ffffff;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: 'Arial'; 

}
.hidden-section {
  display: none;
}